<div class="container">
    <div class="row" *ngIf="yearJSON != null">
        <div class="col">
            <app-calendar-month [monthData]="yearJSON[startMonth]" [eventsData]="eventsData"></app-calendar-month>
        </div>
        <div class="col">
            <app-calendar-month [monthData]="yearJSON[startMonth + 1]" [eventsData]="eventsData"></app-calendar-month>
        </div>
        <div class="col">
            <app-calendar-month [monthData]="yearJSON[startMonth + 2]" [eventsData]="eventsData"></app-calendar-month>
        </div>
    </div>
</div>
