td {
    &:hover:not(:first-child):not(.weekend):not(.rowSpacer) {
        cursor: pointer;
        filter: brightness(85%);
    }
}

.rowSpacer {
    height: 41px;
    background: rgba(0,0,0, 0.05);
}

.rowHeader {
    background: rgba(0,0,0, 0.05);
}

.weekend {
    background-color: lightyellow;
}
