<ng-container *ngIf="week != null">
    <td class="rowHeader">{{ week.weekName }}</td>
    <td>{{ week.dates[0] | date:"dd" }}</td>
    <td>{{ week.dates[1] | date:"dd" }}</td>
    <td>{{ week.dates[2] | date:"dd" }}</td>
    <td>{{ week.dates[3] | date:"dd" }}</td>
    <td>{{ week.dates[4] | date:"dd" }}</td>
    <td class="weekend">{{ week.dates[5] | date:"dd" }}</td>
    <td class="weekend">{{ week.dates[6] | date:"dd" }}</td>
</ng-container>
<ng-container *ngIf="week == null">
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
    <td class="rowSpacer"></td>
</ng-container>

<!--
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit day</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
-->
