@import "../../../scss_vars";
td {
    &:hover:not(:first-child):not(.weekend):not(.rowSpacer) {
        cursor: pointer;
        filter: brightness(85%);
    }
}

.rowSpacer {
    height: 41px;
    background: $cal-table-header;
}

.rowHeader {
    background: $cal-table-header;
}

.weekend {
    background-color: $cal-event-weekend;
}
