<!--
<div class="monthHeader">
    <div class="monthNameHeader">{{ monthName }}</div>
    <div class="weekdayHeader">Mo</div>
    <div class="weekdayHeader">Di</div>
    <div class="weekdayHeader">Mi</div>
    <div class="weekdayHeader">Do</div>
    <div class="weekdayHeader">Fr</div>
    <div class="weekdayHeader">Sa</div>
    <div class="weekdayHeader">So</div>
</div>
-->

<th scope="col">{{ monthName }}</th>
<th scope="col">Mo</th>
<th scope="col">Di</th>
<th scope="col">Mi</th>
<th scope="col">Di</th>
<th scope="col">Fr</th>
<th scope="col">Sa</th>
<th scope="col">So</th>
